<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1> <strong> {{ username }} </strong> </h1>
    </div>
  </div>
  <div class="container">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="well">
        <h4>Email: {{ userEmail }} </h4>  
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="well">
        <button class="btn btn-success" (click)="toggleShowPasswordUpdate()">Change Password</button>  
      </div>
    </div>
    <div  *ngIf="showPasswordUpdate" class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="well">
          <form (ngSubmit)="onChangePassword(f)" #f="ngForm">
            <div class="form-group">
              <label for="currentPassword">Current Password</label>
              <input type="password" id="currentPassword" name="currentPassword" ngModel class="form-control" required>
            </div>
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" id="newPassword" name="newPassword" ngModel class="form-control" required>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid || username == 'nibbler'">Submit</button>
            <span class="help-block" *ngIf="username == 'nibbler'"><h5>To maintain access for all reviewers, this user's (nibbler) password cannot be changed. </h5></span>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="userLegends.length > 0; else noLegends" class="col-md-6 col-sm-6 col-xs-6">
      <p class="lead"> <strong> {{ username }}'s Legends: </strong> </p>
      <ul class="list-group">
        <li
          *ngFor="let legend of userLegends"
         class="list-group-item" 
         style="cursor: pointer"
         routerLink="/legends/{{legend.id}}">
            <p> {{legend.title}} </p>
            <p> by {{legend.username}}</p>
            <img style="max-width: 100px" class="img-responsive" src={{legend.imagePath}}>
        </li>
      </ul>
    </div>
    <ng-template #noLegends>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="lead"> <strong>{{ username }}'s Legends: </strong> </p>
        <ul class="list-group">
          <li class="list-group-item">
              <p> <strong>So empty and cold.</strong> </p>
              <p> Please write a legend to make your user page less lonely. Maybe a legend about cold and empty user pages?</p>
          </li>
        </ul>
      </div>
    </ng-template>
    <div *ngIf="starredLegends.length > 0; else noStars" class="col-md-6 col-sm-6 col-xs-6">
      <p class="lead"> <strong>{{ username }}'s Hearted Legends: </strong></p>
      <ul class="list-group">
        <li
          *ngFor="let legend of starredLegends"
         class="list-group-item" 
         style="cursor: pointer"
         routerLink="/legends/{{legend.id}}">
            <p> {{legend.title}} </p>
            <p> by {{legend.username}}</p>
            <img style="max-width: 100px" class="img-responsive" src={{legend.imagePath}}>
        </li>
      </ul>
    </div>
    <ng-template #noStars>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="lead"> <strong> {{ username }}'s Hearted Legends: </strong></p>
        <ul class="list-group">
          <li class="list-group-item">
              <p> <strong>The Heartlessness.</strong> </p>
              <p> Collect legends by hearting them! Then this page won't be a blank square!</p>
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
</div>

