<div id="landing-header">
  <div class="container">
    <h1>Welcome to Legendary Mission, KS!</h1>
    <br>
    <a routerLink="/legends" class="btn btn-lg btn-success">Enter the Legendary</a>
    <hr>
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <p>Legendary Mission is a creative writing endeavor inspired by local legends common in Europe. Hyperbole of kings, ghosts, beheadings, resurrections, lovers and heroes are encouraged. All set in glorious Mission, Kansas.</p>
      </div>
    </div>
  </div>
</div>