<footer class="footer">
  <div class="container">
    <div class="row" style="margin-bottom: 20px">
      <hr>
      <div class="col-lg-12">
        <div class="col-md-8 col-xs-6">
          <a target="_blank" href="http://www.github.com/torre-plusplus">GitHub</a> | <a target="_blank" href="http://www.linkedin.com/in/torre-norton/">LinkedIn</a>
        </div>
        <div class="col-md-4 col-xs-6">

          <span class="pull-right">
            <a routerLink="/todo">Todo List</a> | 
            <a target="_blank" href="http://www.missionks.org/">Mission, KS</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>