<div class="row">
  <div ></div>
  <div class="col-md-8 col-xs-9 col-sm-8 col-md-offset-1 col-sm-offset-1">
    <div class="input-group">
      <input type="text" class="form-control" ngModel placeholder="Search" (ngModelChange)="filterLegends($event)">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
  </div>
  <div class="col-md-2 col-xs-3 col-sm-2 ">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">Sort <span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li><a style="cursor: pointer;" (click)="sortLegends(0)">Crisp</a></li>
        <li><a style="cursor: pointer;" (click)="sortLegends(1)">Fasionable</a></li>
        <li><a style="cursor: pointer;" (click)="sortLegends(2)">Venerable</a></li>
        <li><a style="cursor: pointer;" (click)="sortLegends(3)">Incidental</a></li>
        <li><a style="cursor: pointer;" (click)="sortLegends(4)">Hieroglyph</a></li>
      </ul>
    </div>
  </div>
</div>

<hr>

<!-- REFACTOR ALL DISPLAYS TO USE NGIF BASED ON WINDOW SIZE -->
<!-- DISPLAY FOR MD-LG DEVICES (4 Columns) -->
<div class="row text-center" *ngIf="windowWidth >= 992">    
  <div class="col-md-3">
    <div *ngFor="let legend of filteredLegends; let i = index">
      <div *ngIf="i % 4 == 0">
        <div class="thumbnail hover-highlight" routerLink="/legends/{{ legend.id }}" (click)="adjustScroll()">

        <div class="caption">
            <h4> <strong>{{ legend.title }} </strong></h4>
            <p> <em> by {{ legend.username }} </em> </p>
        </div>
          <img src="{{ legend.imagePath }}"
            class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div *ngFor="let legend of filteredLegends; let i = index">
      <div *ngIf="i % 4 == 1">
        <div class="thumbnail hover-highlight" routerLink="/legends/{{ legend.id }}" (click)="adjustScroll()">

        <div class="caption">
            <h4> <strong>{{ legend.title }} </strong></h4>
            <p> <em> by {{ legend.username }} </em> </p>
        </div>
          <img src="{{ legend.imagePath }}"
            class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div *ngFor="let legend of filteredLegends; let i = index">
      <div *ngIf="i % 4 == 2">
        <div class="thumbnail hover-highlight" routerLink="/legends/{{ legend.id }}" (click)="adjustScroll()">

        <div class="caption">
            <h4> <strong>{{ legend.title }} </strong></h4>
            <p> <em> by {{ legend.username }} </em> </p>
        </div>
          <img src="{{ legend.imagePath }}"
            class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div *ngFor="let legend of filteredLegends; let i = index">
      <div *ngIf="i % 4 == 3">
        <div class="thumbnail hover-highlight" routerLink="/legends/{{ legend.id }}" (click)="adjustScroll()">

        <div class="caption">
            <h4> <strong>{{ legend.title }} </strong></h4>
            <p> <em> by {{ legend.username }} </em> </p>
        </div>
          <img src="{{ legend.imagePath }}"
            class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DISPLAY FOR SM DEVICES (2 COLUMNS) -->
<div class="row text-center" *ngIf="windowWidth < 992 && windowWidth >= 768">    
  <div class="col-sm-6">
    <div *ngFor="let legend of filteredLegends; let i = index">
      <div *ngIf="i % 2 == 0">
        <div class="thumbnail hover-highlight" routerLink="/legends/{{ legend.id }}" (click)="adjustScroll()">

        <div class="caption">
            <h4> <strong>{{ legend.title }} </strong></h4>
            <p> <em> by {{ legend.username }} </em> </p>
        </div>
          <img src="{{ legend.imagePath }}"
            class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div *ngFor="let legend of filteredLegends; let i = index">
      <div *ngIf="i % 2 == 1">
        <div class="thumbnail hover-highlight" routerLink="/legends/{{ legend.id }}" (click)="adjustScroll()">

        <div class="caption">
            <h4> <strong>{{ legend.title }} </strong></h4>
            <p> <em> by {{ legend.username }} </em> </p>
        </div>
          <img src="{{ legend.imagePath }}"
            class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DISPLAY FOR XS DEVICES -->
<div class="row text-center" *ngIf="windowWidth < 768">    
  <div class="col-xs-12">
    <div *ngFor="let legend of filteredLegends">
      <div class="thumbnail hover-highlight" routerLink="/legends/{{ legend.id }}" (click)="adjustScroll()">
        <div class="caption">
            <h4> <strong>{{ legend.title }} </strong></h4>
            <p> <em> by {{ legend.username }} </em> </p>
        </div>
          <img src="{{ legend.imagePath }}"
            class="img-responsive">
      </div>
    </div>
  </div>
</div>