<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      <a routerLink="/" class="navbar-brand">Legendary Mission, KS</a>
    </div>

    <!-- Navbar for Sm-Lg Devices -->
    <div class="navbar-default hidden-xs">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/legends">Legends</a></li>
        <li routerLinkActive="active"><a routerLink="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!isAuthenticated()">
          <li routerLinkActive="active"><a routerLink="/signup">Register</a></li>
          <li routerLinkActive="active"><a routerLink="/signin">Login</a></li>
        </ng-template>
        
        <li><a style="cursor: default; pointer-events: none" *ngIf="isAuthenticated()">Welcome, {{ username }}.</a></li>
        <li><a style="cursor: pointer;" (click)="logout()" *ngIf="isAuthenticated()">Logout</a></li>
        <li class="dropdown" appDropdown 
          *ngIf="isAuthenticated()">
        <a style="cursor: pointer;;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" routerLink="/user">User Settings</a></li>
            <li><a style="cursor: pointer;" routerLink="/reporting">Report Abuse</a></li>
            <li><a style="cursor: pointer;" routerLink="/reporting">Report Bug</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Collapsed Navbar for XS Devices -->
    <div class="navbar-default hidden-sm hidden-md hidden-lg">
      <ul class="nav navbar-nav">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle pull-right" role="button">{{ greeting}} <span class="caret"></span>  </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active"><a routerLink="/legends">Legends</a></li>
            <li routerLinkActive="active"><a routerLink="/about">About</a></li>
            <ng-template [ngIf]="!isAuthenticated()">
              <li routerLinkActive="active"><a routerLink="/signup">Register</a></li>
              <li routerLinkActive="active"><a routerLink="/signin">Login</a></li>
            </ng-template>
            <li><a style="cursor: pointer;" (click)="logout()" *ngIf="isAuthenticated()">Logout</a></li>
            <li><a style="cursor: pointer;" *ngIf="isAuthenticated()" routerLink="/user">User Settings</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- ALERT NOTIFICATIONS UNDER NAVBAR -->
<br class="hidden-sm hidden-md hidden-lg">
<div class="container">
  <div  *ngIf="!isAuthenticated() && !successAlert && !errorAlert" class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="alert alert-success hover-highlight" role="alert" routerLink="/signin" [@alertAnimation]> {{ infoAlert }} </div>
    </div>
  </div>
</div>

<div class="container" style="position: fixed; top: 80px; z-index: 999; width: 75%; left: 50%; margin-left: -37.5%;">
  <div class="row">
    <div  *ngIf="successAlert" class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-success" role="alert" [@alertAnimation]="present">{{ successAlert }}</div>
      </div>
    </div>
    <div  *ngIf="errorAlert" class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-danger" role="alert" [@alertAnimation]>{{ errorAlert }}</div>
      </div>
    </div>
  </div>
</div>