<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
  
      <div class="panel panel-success">
        <div class="panel-heading">
          To Do List
        </div>
        <div class="panel-body">
          <p class="fulltext">Dear Patron,
          This application is currently incomplete and still evolving. As such, the functionality of the program is still being improved. Below is the current list of improvements planned for the next revision. If you have suggestions, please file them under the "Report" link after you've logged in.
          Thank you,
          -Mgmt
          </p>
        </div>
        <table class="table">
          <tr>
            <th>Issue</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>Mission Pictures</td>
            <td>A Flickr repository filled with pictures of Mission for users to link to in lieu of taking their own.</td>
          </tr>
          <tr>
            <td>Mobile Navigation</td>
            <td>Navigating on mobile needs some refactoring.</td>
          </tr>
          <tr>
            <td>Comment Styling</td>
            <td>Refactor comment styling to look less gross.</td>
          </tr>
          <tr>
            <td>User Show Pages</td>
            <td>Refactor user pages to have a public show page and interface as well. Messaging or private user comment pages also being considered.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>