<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
  
      <div class="panel panel-success">
        <div class="panel-heading">
          Todo List
        </div>
        <div class="panel-body">
          <p style="white-space: pre-line">Dear Patron,
          This application is currently incomplete and still evolving. As such, the functionality of the program is still being improved. Below is the current list of improvements planned for the next revision. If you have suggestions, please file them under the "Report" link after you've logged in.
          Thank you,
          -Mgmt
          </p>
        </div>
        <table class="table">
          <tr>
            <th>Issue</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>Index Display Refactor</td>
            <td>To improve performance, Legends Index needs to be refactored to use *ngIf structural directive based on media size, rather than hidden using bootstrap media. Navbar as well.</td>
          </tr>
          <tr>
            <td>Fully Implemented Users Page</td>
            <td>User's page currently has some gaps in functionality. Will implement several features in conjunction with upvoting.</td>
          </tr>
          <tr>
            <td>Mission Pictures</td>
            <td>A Flickr repository filled with pictures of Mission for users to link to in lieu of taking their own.</td>
          </tr>
          <tr>
            <td>Mobile Navigation</td>
            <td>Navigating on mobile needs some refactoring.</td>
          </tr>

          <tr>
            <td>HTML and CSS Refactor</td>
            <td>Refactor to remove in-line styling and better targeting with semantically meaningful HTML.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>